body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#toolbar {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 10;
}

textarea {
  font-family: 'Consolas', monospaced;
}

#wrap-canvas-Ky,
#wrap-canvas-Kx,
#wrap-canvas-Kth {
  height: 70vh;
}

#canvas-Ky,
#canvas-Kth,
#canvas-Kx {
  width: 100%;
  height: 70vh;
}

#wrap-canvas-info {
  width: 100%;
  height: 20rem;
  margin: 0;
  padding: 0;
}

#canvas-info {
  width: 100%;
  height: 100%;
}

#wrap-sim,
#sim {
  height: 100%;
  width: 100%;
}

#eq-y,
#eq-th,
#eq-x {
  width: 100%;
  overflow: auto;
}

input[type='text'] {
  font-family: Consolas, monospace;
}

#left {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.tab-content {
  flex: 1;
  margin-right: -16px;
  padding-right: 16px;
  overflow: auto;
}

.nav-link {
  height: 2.6rem;
}

#myTabContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.now-calc {
  font-weight: bold;
  color: #17a2b8;
}

.block-diagram {
  max-width: 40rem;
  max-height: 35vh
}

.howto,
.about {
  color: #008888;
  position: absolute;
  pointer-events: none;
  font-weight: bold;
}

.howto {
  bottom: 5px;
  left: 20px;
}

.about {
  bottom: 5px;
  right: 5px;
  text-align: right;
  font-size:0.8rem;
}

.katex-display {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.text-left .katex-display {
  text-align: left;
}

#save-dialog {
  position: absolute;
  padding: 20px 20px 20px 20px;
}

.tbl-spec td,
.tbl-spec th {
  vertical-align: middle;
}