body, html{
  padding:0;
  margin:0;
  height:100%;
  overflow: hidden;
}
.container-fluid{
  display:flex;
  flex-direction: row;
}
input{
  width:100%;
}
div, canvas{
  margin:0;
  padding:0;
}
#polepane{
  flex:0.5 0 0;
  overflow:hidden;
  padding:0;
  height:100vh;
}
#wrap-polemap{
  height:100vh;
}
#wrap-resp{
  height:100vh;  
}
#resppane{
  height:100vh;
  padding:0;
  flex:1 0 0;
  overflow:hidden;
}
#resp{
  height:100%;
  width:100%;
}
label{
  display: block;
  margin-top:1em;
}
#tf,#params{
  position:absolute;
  pointer-events: none;
  font-size:28px;
}

#tf{
  right:0;
}
#params{
  right:0;
  bottom:0;
}

#polemap{
  height:100%;
  width:100%;
}